.container{
    display: flex;
     align-items: center; 
     justify-content: center;
    background-color: bisque;
    padding: 8px;
    padding-right: 0px;
    justify-content: space-between;
}

.logo{
    font-style: italic;
    color: red;
    font-weight: bolder;
    text-align: center;
    font-size: 60px;
    background-color: white;
    padding: 16px;
    margin: 6px;
    margin-left: 200px;
    margin-right: 200px;
}
.one li, .two li{
    display: inline;
    background-color: white;
    margin: 10px;
    padding: 7px;
}
.one{
    justify-self: left;
}
a {
    font-size: 22px;
    background: white;
    /* padding: 8px; */
    /* this removes the line under the links */
    text-decoration: none;
  }
.container ul{
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    align-items: center;
}